body {
    margin: 0px;
    background: #272727;
}
.header {
    border-bottom: 2px solid #7bc42c;
    display: flex;
    justify-content: center;
}
.logo {
    font-size: 48px;
    font-weight: bold;
    color: #ffffff;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-box {
    width: 1200px;
    margin: 50px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #1f1f20;
    border: 1px solid #151515;
    border-radius: 5px;
}
.span {
    width: 400px;
    border-bottom: 2px solid #7bc42c;
    color: #ffffff;
    text-align: center;
    margin: 0px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    font-size: 32px;
    font-weight: bold;
}
.weapon-selector {
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    font-size: 32px;
    margin-bottom: 20px;
}
.selector {
    border: 1px solid #777;
    border-left: none;
    border-right: none;
    height: 34px;
    width: 285px;
    background: #444;
    color: #ffffff;
}
.arrow {
    width: 200px;
    line-height: 34px;
    text-align: center;
}
.request-comment {
    display: flex;
    justify-content: space-between;
    width: 770px;
}
.input-text {
    width: 770px;
    border: 1px solid #777;
    background: #444;
    color: #ffffff;
    resize: none;
    font-size: 24px;
    margin-bottom: 20px;
}
.button {
    width: 100px;
    height: 50px;
    background: #444;
    color: #ffffff;
    border-radius: 8px;
}
.answer-box {
    width: auto;
    margin: 50px;
    padding: 10px;
    display: none;
    flex-direction: column;
    background: #1f1f20;
    border: 1px solid #151515;
    border-radius: 5px;
}
.answer-box > * {
    color: #ffffff;
}